:root {
  --black: #262626;
  --white: #fff;
  --red: #ed5355;
  --gray: #858585;
  --orange: #ee8d38;

  --blue-4: #0487d9;
  --blue-3: #0477bf;
  --blue: #049dd9;
  --blue-2: #41c0f2;
  --blue-1: #91d7f2;

  --light-gray: #b9b9b9;
  --light-gray-4: #cecece;
  /* --light-gray-4 : #a5a3a3; */
  --white-6: hsla(0, 0%, 100%, 0.6);

  --nav-height: 40px;
  --button-radius: 10px;
  --paragraph-color: #4a4a4a;
  --color-border: var(--light-gray);
  /* General container */
  --gPadding: 10px;
  --input-radius: 14px;
  --container-radius: 0px;
  --container-width: 100vw;
  --container-margin: 0vh;
  --paragraph-margin: 10px;
  --container-max-height: 100%;
  /* Modal container */
  --modal-container-width: 90%;
  /* Card */
  --card-width: 80%;
}

body,
html,
.MyChat {
  height: 100%;
}

.MyChat {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-size: 18px;
}

input {
  outline: none;
}

.--flex {
  display: flex;
}

.--wrap {
  flex-wrap: wrap;
}

.--flexBetween {
  justify-content: space-between;
}

.--flexCenter {
  justify-content: center;
}

.--flexEnd {
  justify-content: flex-end;
}

.--flexColumn {
  flex-direction: column;
}

.--spaceEvenly {
  justify-content: space-evenly;
}

.--marginBottom {
  margin-bottom: var(--paragraph-margin);
}

.--marginRight {
  margin-right: var(--paragraph-margin);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.invalid {
  border: 1px solid var(--red);
}

.--pointer {
  cursor: pointer;
}

.container {
  width: var(--container-width);
  border-radius: var(--container-radius);
  margin: var(--container-margin) 0px var(--container-margin) 0px;
}

.title {
  font-size: 18px;
  color: var(--blue);
  text-align: center;
  text-transform: capitalize;
}

.separator {
  margin-top: var(--gPadding);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  :root {
    --gPadding: 20px;
    --nav-height: 60px;
    --container-width: 90vw;
    --container-margin: 20px;
    --modal-container-width: 60%;
    --container-radius: 6px;
    --card-width: 60%;
  }

  h2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --modal-container-width: 40%;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --container-width: 80vw;
    --container-margin: 20vh;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --container-width: 70vw;
    --container-margin: 30vh;
  }
}

@media screen and (min-width: 3840px) {
  :root {
    --container-width: 60vw;
    --container-margin: 40vh;
  }
}
