.containerImg {
  max-width: 210px;
  position: relative;

  img {
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 400ms ease 0ms;
  }

  img.loaded {
    opacity: 1;
  }

  .loader {
    left: 50%;
    opacity: 1;
    margin-left: -40px;
    position: absolute;
  }
}
