.ShowDetails {
  display: flex;
  align-items: center;
  flex-direction: column;

  .contImg {
    flex-basis: 20%;
    max-width: 210px;
    margin: 10px 0 10px 0;
  }

  .contDetails {
    padding: 10px;
    flex-basis: 80%;

    .summary {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 600px) {
    & {
      flex-direction: row;
      align-items: initial;

      .contImg {
        margin: 0;
      }
    }
  }
}
